body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: green;
    color: rgb(110, 12, 12);
    padding: 20px 50px;
    border: transparent;
    border-radius: 10px;
    transition: 2s ease-in-out;
    transform:scale(1.5);
    animation-fill-mode: backwards;
    

}
.btn:hover {
    cursor: pointer;
    background-color: yellow;
    font-size: 40px;
    transform: rotate(100deg);
    transform: skew(30deg,20deg);
    transform: translate(50px,50px);
    transform: 2s ease-in-out;
    transform: scale(1.5);
    
}
@keyframes .btnMoving {
    form 
}